<div class = "row-fluid">
	<div class="span6">
		<legend>Shared expense summary/activity</legend>
		<!--<legend>Summary</legend>-->
		<div class = "row-fluid">
			<div id="visualization" class="span6 home_graph"></div>
			<div id="visualization1" class="span6 home_graph"></div>
		</div>
		<% @users.each do |user| %>
			<% if user != current_user %>
				<%= raw(get_settlement(@settlement_amount[user.id], user.name)) %><br>
			<% end %>
		<% end %>
		<legend>Activity</legend>
		<h5>To pay transactions <%#= current_user.name %>:</h5>
		<% @pay.each do |pays| %>
			<% pays.each do |pay| %>
  			$<%= pay.amount.round(2) %> to <%= get_user_name(pay.payee_id) %> for expense on <%= get_date(pay.created_at) %>
  		<% end %>
		<% end %>
		<br>
		<h5>To collect transactions <%#= current_user.name %>:</h5>
		<% @collect.each do |collects| %>
			<% collects.each do |collect| %>
	  		$<%= collect.amount.round(2) %> From <%= get_user_name(collect.user_id) %> for expense on <%= get_date(collect.created_at) %>
	  		<br>
  		<% end %>
		<% end %>
	</div>
	<div class="span6">
		<legend>Personal expense summary</legend>
		<div class = "row-fluid">
      <div id="visualization_p1" class="span6 home_graph"></div>
      <div id="visualization_p2" class="span6 home_graph"></div>
    </div>
    <%#= @expense_ids %>
    <% @my_expense_array.each do |m| %>
      <%#= m %>
    <% end %>
	</div>
</div>

<!-- Javascript for Google chart api -->
<script type="text/javascript" src="http://www.google.com/jsapi">http://www.apache.org/licenses/LICENSE-2.0.html</script>
<script type="text/javascript">
  google.load('visualization', '1', {packages: ['corechart']});
</script>
<script type="text/javascript">
  function drawVisualization() {
    // Create and populate the data table.
    var data_pay = google.visualization.arrayToDataTable([
      ['Name', 'Amount'],
      <% @to_pay_amount.each do |pay| %>
      <%= raw("['#{pay[1][1]}', #{pay[1][0]}]") %>,
      <% end %>
    ]);

    var data_collect = google.visualization.arrayToDataTable([
      ['Name', 'Amount'],
      <% @to_collect_amount.each do |pay| %>
      <%= raw("['#{pay[1][1]}', #{pay[1][0]}]") %>,
      <% end %>
    ]);
  	
  	var options_pay = {
  		pieSliceText:'value',
  		legend:'bottom',
  		is3D: true,
  		title:"Pay"
  	};
  	var options_collect = {
  		pieSliceText:'value',
  		legend:'bottom',
  		is3D: true,
  		title:"Collect"
  	};
    // Create and draw the visualization.
    new google.visualization.PieChart(document.getElementById('visualization')).
        draw(data_pay, options_pay);
    new google.visualization.PieChart(document.getElementById('visualization1')).
        draw(data_collect,options_collect);
    
    var data_p1 = google.visualization.arrayToDataTable([
      ['Category', 'Amount'],
      <% @category_wise_amount.each do |me| %>
        <% me.each do |key,value| %>
          <%= raw("['#{key}', #{value}]") %>,
        <% end %>
      <% end %>
    ]);
    var options_p1 = {
      pieSliceText:'value',
      legend:'bottom',
      is3D: true,
      title:"Categorywise Expenses"
    };
    var data_p2 = google.visualization.arrayToDataTable([
      ['Date', 'Amount'],
      <% @date_wise_amount.each do |me| %>
        <% me.each do |key,value| %>
          <%= raw("['#{key}', #{value}]") %>,
        <% end %>
      <% end %>
    ]);
    var options_p2 = {
      pieSliceText:'value',
      legend:'bottom',
      is3D: true,
      title:"Expenses Overtime"
    };

    new google.visualization.PieChart(document.getElementById('visualization_p1')).
        draw(data_p1, options_p1);
    new google.visualization.LineChart(document.getElementById('visualization_p2')).
        draw(data_p2,options_p2);
  }
  

  google.setOnLoadCallback(drawVisualization);
</script>
