<div class = "row-fluid">
	<div class="span3 hidden-phone">
	</div>
	<div class="span6">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>

			<%#= devise_error_messages! %>
			<legend>Sign In</legend>
			<div class="control-group">
				<div class="controls">
					<%= devise_error_messages! %>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<%= f.email_field :email, :placeholder => "Write your email here...", :class => "input-xlarge" %>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<%= f.password_field :password, :placeholder => "Write your password here...", :class => "input-xlarge" %>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<% if devise_mapping.rememberable? -%>
						<label class="checkbox"><%= f.check_box :remember_me %> Remember me</label>
					<% end -%>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<%= f.submit "Sign in", :class => "btn-large btn-primary" %>
				</div>
			</div>
		<% end %>
		<div class="control-group">
			<div class = "controls">
				<%= render "devise/shared/links" %>
			</div>
		</div>

		
	</div>
</div>
