<!DOCTYPE html>
<html>
<head>
  <title>Expense Manager - Manage your group expenses</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <% if Rails.env == "production" %>
		<%= stylesheet_link_tag    "home", :media => "all" %>
		<%= stylesheet_link_tag    "users", :media => "all" %>
		<%= stylesheet_link_tag    "bootstrap/bootstrap.min", :media => "all" %>
		<%= stylesheet_link_tag    "bootstrap/rbootstrap-responsive.min", :media => "all" %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <% if Rails.env == "production" %>
  <% end %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="container-fluid">
		<%= render "shared/header" %>
	</div>
	<div class="container-fluid">
		<%= yield %>
	</div>
	<footer class="footer">
		<div class="container-fluid">
			<%= render "shared/footer" %>
		</div>
	</footer>
</body>
	<!-- Include minified versions in deployment -->
</html>
